go 1.24.0

use (
	.
	./pkg/cache/etcd
	./pkg/cache/memcached
	./pkg/cache/memory
	./pkg/cache/redis
	./pkg/client/grpc_client
	./pkg/client/http_client
	./pkg/client/kafka_client
	./pkg/client/rabbitmq_client
	./pkg/database/as
	./pkg/database/clickhouse
	./pkg/database/elasticsearch9
	./pkg/database/mongodb
	./pkg/database/mysql
	./pkg/database/postgres
	./pkg/database/sqlite
	./pkg/external/FeatureChaos
	./pkg/external/NetLocker
	./pkg/logger/file_log
	./pkg/logger/mock_log
	./pkg/logger/sentry_log
	./pkg/logger/std_log
	./pkg/server/grpc
	./pkg/server/http
	./pkg/server/kafka
	./pkg/server/rabbitmq
	./pkg/storage/file
	./pkg/storage/s3
)
